<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>iOne</title>
	<meta charset="utf-8">

	<script src="../js/bootstrap.js"></script>

	<!-- jQuery (necessary for Bootstrap'<s></s> JavaScript plugins) -->
	<script src="js/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="../css/bootstrap.css" />  
	<link rel="stylesheet" href="../css/bootstrap.min.css" /> 
	<link rel="stylesheet" href="../css/bootstrap-theme.min.css"/>
	
	<!-- Load c3.css -->
	<link rel="stylesheet" href="../css/c3.css" type="text/css">
	<!-- Load d3.js and c3.js -->
	<script src="../js/d3.v3.min.js"></script> <!--não encontrado -->
	<script src="../js/c3.min.js"></script>

	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/fonts.css">
	

	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<body>

	<div class="container">

		<div class="header">
			<h1>iOne Jardim Inteligente</h1>
			<h2>principal</h2>
		</div>

		<div class="content">
			<div class="row">
				<fieldset>
					<legend class="legend">conta</legend>
					<div class="col-xs-12 col-md-6">
						<div class="conta">	
							<div class="informacao">
								<% if(usuario.genero == 'm'){ %> 
								<img id="icone-usuario" class="img-responsive center-block" src=" img/usuario_m.png">
								<%}else{%>
								<img id="icone-usuario" class="img-responsive center-block" src=" img/usuario_f.jpg">
								<%}%>
								<div class="btn-group">
									<a class=" btn dropdown-toggle legend" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= usuario.nome %> <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="/viewAlterarUsuario"><span class="glyphicon glyphicon-user"></span> alterar</a></li>
										<li><a href="/viewRedefinirLogado"><span class="glyphicon glyphicon-edit"></span> redefinir senha</a></li>
										<li><a href="/sair"><span class="glyphicon glyphicon-off"></span>  sair</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-6">
						<div class="jardim">
							<div class="informacao">
								<% if(id_jardim.length == 0){%>
								<input type="image" id="icone-principal" class="img-resposive center-block legend" name="registrar" src="./img/icone-mais.png" onclick= "window.location.assign('viewNovoJardim')" >
								<a href="/viewNovoJardim" class=" btn dropdown-toggle legend">criar novo jardim</a>	
								<br><br>
								<%}else{%>
								<img id="icone-principal" class="img-responsive center-block" src="../img/icone-flor5.png">
								<div class="btn-group">
									<a id="texto-principal" class="btn dropdown-toggle legend" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%- detalhesJardim.nome_jardim %><span class="caret"></span></a>						
									<ul class="dropdown-menu">
										<li><a href="/viewAlterarJardim"><span class="glyphicon glyphicon-leaf"></span>  detalhes</a></li>
										<li><a href="/deletarJardim"><span class="glyphicon glyphicon-remove"></span>  remover</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<fieldset>
				<% if(!analise == ''){ %>
					<legend class="legend">detalhes</legend>
					<div class="detalhes">
						<div class="row">
							<div class="detalhes-jardim">
							<!--	<div class="row">
									<div class="col-xs-12 col-md-4"></div>
									<div class="col-xs-12 col-md-4"> -->

										<div class="dashboard-jardim img-responsive">
											<div id="container" style="min-width: 100%; height: 400px; margin: 0 auto"> 

												<script type="text/javascript">


													$(function () {
														$('#container').highcharts({
															title: {
																text: 'Últimas Análizes: Consumo e Umidade',
            x: -20 //center
        },
        xAxis: {
        	categories: [

        	<% for(i = analise.length-1; i >= 0 ; i--) {  %>
        		[ "<%-analise[i].data_hora %>"],

        		<%}%>	

        		]
        	},
        	yAxis: {
        		plotLines: [{
        			value: 0,
        			width: 1,
        			color: '#808080'
        		},
        		{
        			title:{ text: null}
        			
        		}]
        	},

        	
        	series: [
        	{
        		name: 'consumo',
        		data: [
        		<% for(i = analise.length-1; i>=0; i --) {  %>
        			[<%-analise[i].consumo %>],

        			<%}%>
        			]

        		}, {
        			name: 'umidade',
        			data: [
        			<% for(i = analise.length-1; i>=0; i --) {  %>
        				[<%-analise[i].media %>],

        				<%}%>
        				]

        			},
        			{
        				name: 'umidade minima ideal',
        				data: [
        				<% for(i = analise.length-1; i>=0; i --) {  %>
        					[<%-detalhesJardim.umidade_min %>],

        					<%}%>
        					]

        				}
        				]

        			});
													});



												</script>

											</div>
										</div>


									</div>
								<!--	<div class="col-xs-12 col-md-4"></div> -->

								</div>
							</div>


						</div>
					</fieldset>

					<fieldset>
						<legend class="legend">Acompanhamento</legend>

						<div class="table-responsive">
							<table  class="table table-bordered">

								<thead>
									<tr>
										<th>data-hora</th>
										<th>umidade</th>
										<th>clima</th>
										<th>valvula</th>
										<th>consumo água</th>
									</tr>
								</thead>

								<tbody>
									<% for(i = 0; i < analise.length; i ++) { %>
									<tr>
										<td><%- analise[i].data_hora %></td>
										<td><%- analise[i].status_umidade %></td>
										<td><%- analise[i].clima %></td>
										<td><%- analise[i].valvula %></td>
										<td><%- analise[i].consumo %></td>
									</tr>
									<%}%>
								</tbody>


							</table>
						</div>
						<div class="form-group">
							<a  id="botao-vermais" class="btn btn-default " href="/viewRelatorios">ver mais</a>
						</div>

					</fieldset>

				</div>

				<%}%>
			</div>
			<%}%>
		</body>
		</html>